[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scapy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
mplcursors = "*"
websockets = "*"
exponent-server-sdk = "*"
scikit-learn = "*"

[dev-packages]
